body{ 
    overflow: scroll; 
    text-align:center; 
    font-size: 26px; 
    background-color: #292929; 
    color: #9fee9f; 
    font-family:"S-Core Dream 7"; 
    font-style: bold;
}
.box_career{
    float: center; 
    text-align: left;
}

