*{
    font-family:"S-Core Dream 4", "궁서체", "monaco", "consolas", "sans-serif", "serif", "AppleMyungjo", "default";  
    font-style: bold;
}
body{ 
    overflow: scroll; 
    text-align:center; 
    font-size: 26px; 
    background-color: #292929;
    color: #9fee9f;
    margin: 0;
    padding: 0;
}
footer{
    font-family:"S-Core Dream 1";
    border-top: 2px solid #9fee9f; 
    overflow: hidden; 
    margin-top: 5px; 
    text-align: center; 
    margin-left: 0px; 
    line-height: 10px; 
    color: #9fee9f;
    font-size: 3px;
}
a{
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
}
.logo{
    border-top:5px solid #9fee9f;
    border-bottom:5px solid #9fee9f;
    overflow: hidden; 
    float: center; 
    text-align: center; 
    color: #9fee9f; ; 
   }
.melon_footer{
    display: inline-block;
}
.BGC_Changed{
    color:#ffffff; 
    float: right; 
    font-size: 20px; 
    text-align: right; 
    margin:5px;
}