*{
    font-family:"S-Core Dream 4", "궁서체", "monaco", "consolas", "sans-serif", "serif", "AppleMyungjo", "default";  
    font-style: bold;
    background-color: #292929;
}
body{ 
    overflow: scroll; 
    text-align:center; 
    font-size: 26px; 
    color: #9fee9f;
}
footer{
    font-family:"S-Core Dream 1";
    border-top: 2px solid #9fee9f; 
    overflow: hidden; 
    float: center;
    margin-top: 5px; 
    text-align: center; 
    margin-left: 0px; 
    line-height: 10px; 
    color: #9fee9f;
    font-size: 3px;
}
a{
    text-decoration: none;
}
li:hover{
    text-decoration: underline;
}
.logo{
    border:5px solid #9fee9f;
    overflow: hidden; 
    float: center; 
    text-align: center; 
    color: #9fee9f; 
   }
.melon_footer{
    display: inline-block;
}